# SPDX-License-Identifier: MIT

config CROSS_COMPILE
	string "A string prefixed to all GCC and Binutils executables."
	default "x86_64-elf-"

menu "Architecture-specific options"

config MULTIBOOT2_LOADER
	bool "Build the included multiboot2 loader."
	default y

source "arch/x86/loader/Kconfig"

endmenu
