# SPDX-License-Identifier: MIT

menu "General kernel options"

config EXTRAVERSION
	string "Extra version"
	default ""
	help
		A string appended to the kernel version string.

config DEBUG_BUILD
	bool "Debug build"
	default n
	help
		Enable additional code and compiler flags, such as
		-fno-omit-frame-pointer and -fno-optimize-sibling-calls, for
		debugging purposes.

endmenu
